header{
    background-color: #f8fbff;
    color: black;
    text-align: center;
    padding: 5px;
}
nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 300px;
    gloa
}